<div class='primary-header'>
  Edit Customer
  <span class='float-right'>
    <%= link_to 'Back', back_url(@customer), class: 'btn btn-sm btn-secondary' %>
  </span>
</div>
<!--<%= render 'form' %> -->
<%= content_tag :div,
  id: "react-mount",
  data: {
    customer: @customer_json
  }.to_json do %>
<% end %>
<%= javascript_pack_tag 'customer_form' %>