<div class='row'>
  <div class='col-md-12'>
    <div class='secondary-header flex-wrap'>
      Notes
      <%= link_to 'Add Note', [:new, :admin, record, :note], remote: true, data: { toggle: "modal", target: "#myModal" }, class: 'btn btn-sm btn-primary align-self-center' %>
    </div>
    <div class='table-responsive'>
      <table class='table table-sm'>
        <thead>
          <tr>
            <th>Subject</td>
            <th>Description</td>
          </tr>
        </thead>
        <tbody>
          <% record.notes.each do |note| %>
            <tr>
              <td><%= link_to note.subject, [:edit, :admin, record, note], class: 'btn btn-xs btn-link' %></td>
              <td><%= note.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>