<div class='primary-header flex-wrap'>
  Edit Driver
  <%= link_to 'Back', back_url(@driver), class: 'btn btn-sm btn-secondary align-self-center' %>
</div>
<%= simple_form_for([:admin, @driver], html: { class: 'form'}) do |f| %>
  <%= render 'form', f: f %>
<% end %>
