<h1>Drivers</h1>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Violations</th>
      <th>Safety Compliances</th>
      <th>Documents</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr></tr>
    <% end %>
  </tbody>
</table>
