<div class='container'>
  <h4 class='pt-2'>New Violation Ticket</h4>
  <%= simple_form_for([:admin, :driver, @violation_ticket], html: { class: 'form' }) do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
