@import "bootstrap";
body, html {
  height: 100%;
}

.primary-header {
  @extend .mt-2;
  @extend .pt-2;
  @extend .border-bottom;
  @extend .mb-2;
  font-size: 2rem;
  font-weight: 600;
}

.secondary-header {
  @extend .text-muted;
  font-size: 1.25rem;
  font-weight: 600;
  font-variant: small-caps;
}

.table-header {
  @extend .mb-2;
}

.label {
  @extend .text-muted;
  font-variant: small-caps;
}

.word-break {
  word-break: break-word;
}

.btn-xs {
  padding: 0px 2px !important;
  font-size: 0.8rem;
}
