<div class='primary-header flex-wrap'>
  <div class='flex-wrap'>
    <div class='mr-1'><%= yield :topbar_heading %></div>
    <small class='text-muted'><%= yield :topbar_subheading %></small>
  </div>
  <div class='align-self-center'>
    <%= yield :topbar_buttons %>
  </div>
</div>