<!DOCTYPE html>
<html>
  <head>
    <title>PDF</title>
    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
    <style>
      html, body {
        font-size: 55px;
      }
      td {
        font-size: 0.9rem;
      }
      .primary-header{
        border-bottom: 2px solid black;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>